.card {
	position: relative;

	&__imgContainer {
		position: relative;
		cursor: pointer;
		&__image {
			inline-size: 100%;
			border-radius: 8px;
			object-fit: cover;
		}

		&__play {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgba($color: #000000, $alpha: 0.4);
			opacity: 0;
			z-index: 2;

			&:hover {
				opacity: 1;
			}

			div {
				height: 44px;
				width: 100px;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 0.8rem;
				background-color: rgba(255, 255, 255, 0.2);
				border-radius: 100px;
			}
		}
	}

	&__bookmark {
		z-index: 99;
		position: absolute;
		top: 8%;
		right: 8%;
		background-color: $clr-secondary;
		border-radius: 50%;
		width: clamp(32px, 32px + 1vw, 36px);
		height: clamp(32px, 32px + 1vw, 36px);
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0.8;
		cursor: pointer;
		background-color: rgb(70, 70, 70);

		&:hover {
			background-color: $clr-base;
		}

		img {
			width: 40%;
			height: 50%;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		gap: 0.4rem;
		font-weight: $fw-light;
		font-size: clamp(11px, 11px + 2vw, $fs-micro);
		font-size: 12px;
		color: rgb(185, 185, 185);
		margin: 0.3rem 0 0.4rem 0;

		& * {
			margin: 0;
		}

		&__dot {
			width: 3px;
			height: 3px;
			border-radius: 50%;
			background-color: $clr-base;
		}

		&__category {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;
		}
	}
	&__title {
		margin: 0;
		font-weight: $fw-medium;
		font-size: clamp(12px, 12px + 1vw, 18px);
	}
}
