.card {
	position: relative;

	&__imgContainer {
		&__image {
			inline-size: 100%;
			border-radius: 8px;
			object-fit: cover;
		}
	}

	&__bookmark {
		position: absolute;
		top: 8%;
		right: 8%;
		background-color: $clr-secondary;
		border-radius: 50%;
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0.8;
		cursor: pointer;
		background-color: rgb(70, 70, 70);
	}

	&__info {
		display: flex;
		align-items: center;
		gap: 0.4rem;
		font-weight: $fw-light;
		font-size: clamp(11px, 11px + 2vw, $fs-micro);
		font-size: 12px;
		color: rgb(185, 185, 185);

		&__dot {
			width: 3px;
			height: 3px;
			border-radius: 50%;
			background-color: $clr-base;
		}

		&__category {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;
		}
	}
	&__title {
		margin: 0;
		font-weight: $fw-medium;
		font-size: clamp(14px, 14px + 2vw, 1rem);
	}
}
