.search {
	margin: 1rem 0;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	gap: 1rem;

	@media (min-width: 1024px) {
		padding-top: 1rem;
	}

	&__icon {
		width: 24px;
		height: 24px;
		font-weight: $fw-light;
	}

	&__input {
		background: transparent;
		border: none;
		outline: none;
		color: $clr-base;
		font-size: $fs-base;
		width: calc(100% - 24px - 1rem);
		padding: 0.8rem 0;
		border-bottom: 1px solid transparent;
		caret-color: $clr-primary;

		&:focus {
			border-bottom: 1px solid $clr-secondary;
		}
	}
}
