.trending {
	padding: 0 0 1rem 1rem;

	&__header {
		font-size: $fs-h3;
		font-weight: $fw-light;
		margin-top: 0.2rem;
	}

	&__movies {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: clamp(240px, 65%, 470px);
		gap: clamp(0.6rem, 0.6rem + 4vw, 2.4rem);

		overflow-x: auto;
		overscroll-behavior-inline: contain;

		scroll-snap-type: inline mandatory;

		& > * {
			scroll-snap-align: start;
		}
	}
}
