.trending {
	padding: 0 0 1rem 1rem;
	margin-bottom: 1rem;

	&__header {
		@extend %header;
		margin: 0 0 1rem 0;
	}

	&__movies {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: clamp(240px, 65%, 470px);
		gap: clamp(0.6rem, 0.6rem + 4vw, 2.4rem);

		overflow-x: auto;
		overscroll-behavior-inline: contain;

		scroll-snap-type: inline mandatory;

		& > * {
			scroll-snap-align: start;
		}
	}
}
