.trendingCard {
	position: relative;

	&__imgContainer {
		z-index: -1;
		cursor: pointer;

		&__image {
			inline-size: 100%;
			border-radius: 8px;
		}
	}

	&__bookmark {
		z-index: 99;
		position: absolute;
		top: 8%;
		right: 6%;
		background-color: $clr-secondary;
		border-radius: 50%;
		width: clamp(32px, 32px + 1vw, 40px);
		height: clamp(32px, 32px + 1vw, 40px);
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0.8;
		cursor: pointer;
		background-color: rgb(70, 70, 70);

		&:hover {
			background-color: $clr-base;
			opacity: 1;
		}

		&:hover > img {
			filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(308deg)
				brightness(0%) contrast(101%);
		}

		img {
			width: 40%;
			height: 50%;
		}
	}

	&__info {
		z-index: 99;
		position: absolute;
		bottom: 10%;
		left: 5%;
		display: flex;
		flex-direction: column;
		gap: 8px;

		& * {
			margin: 0;
		}

		&__flex {
			display: flex;
			align-items: center;
			gap: 0.4rem;
			font-weight: $fw-light;
			font-size: clamp($fs-micro, $fs-micro + 2vw, $fs-milli);
			color: rgb(223, 223, 223);
		}

		&__header {
			font-weight: $fw-light;
			font-size: clamp($fs-milli, $fs-milli + 1vw, $fs-h2);
		}

		&__dot {
			width: 3px;
			height: 3px;
			border-radius: 50%;
			background-color: $clr-base;
		}

		&__category {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;
		}
	}
}
