::-webkit-scrollbar {
	width: 1.4rem;
	height: 1.2rem;
}
::-webkit-scrollbar-thumb {
	background: $clr-background;
	border-radius: 100vw;
	border: 0.3rem solid $clr-background-nav;

	&:hover {
		background: $clr-secondary;
	}
}
::-webkit-scrollbar-track {
	background: $clr-background-nav;
	border-radius: 100vw;
}

body {
	background-color: $clr-background;
	color: $clr-base;
	display: flex;
	justify-content: center;
}

.App {
	min-width: calc(100vw - 1.4rem);
	max-width: 1440px;
}

%header {
	font-size: clamp($fs-h3, $fs-h3 + 1vw, $fs-h1);
	font-weight: $fw-light;
}

.home,
.movies,
.tvseries,
.bookmarks {
	position: relative;

	@media (min-width: 1024px) {
		padding-left: 8rem;
	}
}
