body {
	background-color: $clr-background;
	color: $clr-base;
	display: flex;
	justify-content: center;
}

.App {
	width: 100%;
	max-width: 1920px;
}

%header {
	font-size: clamp($fs-h3, $fs-h3 + 1vw, $fs-h1);
	font-weight: $fw-light;
}
