// font size
$fs-base: 16px;
$fs-h1: 32px;
$fs-h2: 24px;
$fs-h6: 18px;
$fs-milli: 15px;
$fs-micro: 13px;

// font weight
$fw-light: 300;
$fw-medium: 500;
$fw-bold: 800;

// font family
$ff-base: 'Outfit', sans-serif;
